.home-banner {
  text-align: center;
  position: relative;
}

.banner-image {
  width: 100%;
  height: auto;
}

.banner-navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
